/* https://palettes.shecodes.io/palettes/1548 */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

div {
  font-family: sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  border-radius: 8px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  font-weight: bold;
  width: 96px;
  padding: 4px;
}

img {
  /* width: 100px; */
  width: 100%;
  max-width: 600px;
  /* min-width: 100%; */
  /* flex: 1 1 200px; */
  border-radius: 16px;
}

.sign-up-button-two {
  border: 1px solid #f9faf8;
}

.brain {
  flex-grow: 1;
  border-radius: 16px;
}

.svg {
  width: 100px;
}

.header {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-links-container {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.title-subtext {
  color: #e5e7eb;
}

.image-with-inner-container {
  flex-wrap: wrap;
  padding: 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  width: 75%;
}

.title-subtext-button-container {
  width: 350px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 16px;
}

.first-fourth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f2937;
}

.second-fourth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.information-title {
  padding: 32px 0;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.icons-container {
  width: 50%;
  padding: 100px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.icon-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-subtext {
  margin: 16px 0;
  text-align: center;
  width: 175px;
}

.third-fourth-container {
  background-color: #e5e7eb;
}

.final-fourth-container {
  background: #3882f6;
}

.bottom-container {
  background-color: #1f2937;
}
