/* https://palettes.shecodes.io/palettes/1548 */

/* Put Everything in a flex-box */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

div {
  font-family: sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  border-radius: 8px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  font-weight: bold;
  width: 96px;
  padding: 4px;
}

img {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
}

.sign-up-button-one:hover,
.sign-up-button-two:hover {
  background-color: #f9faf8;
  color: #3882f6;
  cursor: pointer;
}

.sign-up-button-two {
  border: 1px solid #f9faf8;
}

.brain {
  flex-grow: 1;
  border-radius: 16px;
}

.svg {
  width: 100px;
}

.header {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-links-container {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.title-subtext {
  color: #e5e7eb;
}

.image-with-inner-container {
  flex-wrap: wrap;
  padding: 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  width: 75%;
}

.title-subtext-button-container {
  width: 350px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 16px;
}

.first-fourth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f2937;
}

.second-fourth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information-title {
  padding: 32px 0;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.icons-container {
  width: 50%;
  padding: 150px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.icon-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-subtext {
  margin: 16px 0;
  text-align: center;
  width: 175px;
}

.third-fourth-container {
  background-color: #e5e7eb;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 0;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 50%;
}

.quote {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
}

.quote-author {
  color: #1f2937;
  font-weight: bold;
  margin-top: 16px;
}

.final-fourth-container {
  margin: 100px 150px;
  padding: 50px 100px;
  border-radius: 8px;
  background: #3882f6;
}

.call-to-action-container {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
}

.call-to-action-text-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  .call-to-action-text-container {
    display: none;
  }

  .call-to-action-container {
    justify-content: center;
  }
}

.call-to-action {
  font-weight: bold;
  margin-bottom: 8px;
}
.call-to-action-subtext {
  color: #e5e7eb;
}

.bottom-container {
  padding: 25px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}
